.my-passion {
  @include outer-container(900px);
  background-color: #fff;
  text-align: center;
  padding: 100px 15px;

  p{
    margin-bottom: 50px;
  }

  .contact-btn {
    background-color: $action-color;
    color: #fff;
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color .3s ease-in-out;
    display: block;
    width: 100%;
    margin: 0 auto;

    @include media($medium-screen) {
      width: 60%;
    }

    &:hover {
      background-color: darken($action-color, 10);
    }
  }
}