.portfolio-head {
  height: 350px;

  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image-url("portfolio.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  .main-title {
    color: #fff;
  }
}