%section.about
  .box.text
    %p Sartorial cray everyday carry chambray pabst. Locavore banh mi pabst hot chicken activated charcoal ennui, pickled fanny pack blue bottle paleo offal YOLO. Quinoa selfies meditation lomo.
    %p Poutine pop-up you probably haven't heard of them direct trade, helvetica hashtag meditation sriracha.
    %p Raw denim poke normcore, actually tattooed glossier austin affogato.
  .box.picture
    