<footer id="socials">
  <div class="container">
    <a href="https://www.facebook.com/borbely.robert" target="_blank" class="social">
      <div class="fa fa-facebook"></div></a>
    <a href="" target="_blank" class="social">
      <div class="fa fa-twitter"></div></a>
    <a href="https://www.behance.net/respectsasf8c2" target="_blank" class="social">
      <div class="fa fa-behance"></div></a>
    <a href="https://www.linkedin.com/in/robertb93" target="_blank" class="social">
      <div class="fa fa-linkedin"></div></a>
  </div>
</footer>
<div class="credit">
  <p>&copy; 2016 Borbély Róbert</p>
</div>