%section.my-passion
  %h2.secondary-title My Passion
  %h1.main-title To Create
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, unde porro. Ipsa maxime quae hic ipsum. Quaerat vel consectetur quibusdam, doloremque recusandae. Aut reiciendis assumenda saepe ipsam dignissimos aliquid in.

  %a.contact-btn{:href => "/contact"}
    Want me to work for you?