%section#portfolio
  .container
    %h2.secondary-title MY PASSION
    %h1.main-title To Create 
    .grid
      {% for post in site.posts %}
      .item{style: "background-image: url({{ post.image }})"}
        %a.item-link{:href => "{{ site.baseurl }}{{ post.url }}"}
      {% endfor %}